{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            My title
        {% endblock title %}
    </title>
    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
    <header id="header">
        <div id="logo">
            <img src="{% static 'logo.jfif' %}" alt="" width="50px" height="50px" />
            <img src="{% static 'skies.png' %}" alt="" width="1200px" height="100px" />
        </div>
    </header>
    <aside id="leftsidebar">
        <nav id="nav">
            <ul>
                {% block sidenav %}
                    <li><a href="">Airport</a></li>
                {% endblock sidenav %}
            </ul>
        </nav>
    </aside>

    <section id="main">
        {% block content %}
        <h1>Check Point Management</h1>
        {% endblock content %}
        <div id="container" style="width: 100%; margin-left: auto; margin-right: auto;">
            <canvas id="throughput-chart"></canvas>
        </div>
        {% block scripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.0.1/chartjs-plugin-zoom.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>
        <script>

        var config = {
          type: 'line',
          data: {
            datasets: [{
              data: {{ data|safe }},
              label: 'Throughput',
              cubicInterpolationMode: 'monotone',
            }],
            labels: {{ labels|safe }}.map((label) => moment(label, "MM/DD/YYYY HH:mm:ss"))
          },
          options: {
            bezierCurve: true,
            scales: {
                x: {
                    type: 'time',
                    min: {{ labels|safe }}.map((label) => moment(label, "MM/DD/YYYY HH:mm:ss"))[{{labels|safe}}.length -  150].valueOf(),
                    max: {{ labels|safe }}.map((label) => moment(label, "MM/DD/YYYY HH:mm:ss"))[ {{labels|safe}}.length - 1 ].valueOf(),
                },
                y: {
                    type: 'linear',
                    min: Math.min(...{{ data|safe }}) - Math.floor(Math.min(...{{ data|safe }})/50),
                    max: Math.max(...{{ data|safe }}) + Math.floor(Math.min(...{{ data|safe }})/50),
                }
            },
            plugins: {
              zoom: {
                zoom: {
                  wheel: {
                    enabled: true,
                  },
                  pinch: {
                    enabled: true
                  },
                  mode: 'x',
                },
                pan: {
                    enabled: true,
                    mode: 'x',
                },
                limits: {
                    x: {
                        min: {{ labels|safe }}.map((label) => moment(label, "MM/DD/YYYY HH:mm:ss"))[0].valueOf(),
                        max: {{ labels|safe }}.map((label) => moment(label, "MM/DD/YYYY HH:mm:ss"))[ {{labels|safe}}.length - 1 ].valueOf(),
                    },
                    y: {
                        min: Math.min(...{{ data|safe }}) - Math.floor(Math.min(...{{ data|safe }})/50),
                        max: Math.max(...{{ data|safe }}) + Math.floor(Math.min(...{{ data|safe }})/50),
                    }
                }
              }
            }
          },
        };

        window.onload = function() {
          var ctx = document.getElementById('throughput-chart').getContext('2d');
          window.myPie = new Chart(ctx, config);
        };

        </script>
        {% endblock scripts %}
    </section>
    <footer id="footer">
        Dr. Jiang Guo's Machine Learning Group - 2021 DHS & CAOE Sponsored Summer Research Team
    </footer>
</div>
</body>
</html>