{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            My title
        {% endblock title %}
    </title>
    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
    <header id="header">
        <div id="logo">
            <img src="{% static 'logo.jfif' %}" alt="" width="50px" height="50px" />
        </div>
    </header>
    <aside id="leftsidebar">
        <nav id="nav">
            <ul>
                {% block sidenav %}
                    <li><a href="">Airport</a></li>
                {% endblock sidenav %}
            </ul>
        </nav>
    </aside>

    <section id="main">
        {% block content %}
        <h1>Check Point Management</h1>
        {% endblock content %}
    </section>
    <footer id="footer">
        2021 Spring Django Python Base Web System
    </footer>
</div>
</body>
</html>