{% extends "base.html" %}
{% load static %}

{% block title %}
    LAS
{% endblock title %}

{% block sidenav %}
    {% for item in item_list %}
        <li>
            <a href = "{{ item.link }}"> {{ item.item }} </a>
        </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
    <h1 align ="center">LAS Airport</h1>
    <ul>
        <li><a href="">Terminal 1 - AB</a></li>
        <li><a href="">Terminal 1 - C</a></li>
        <li><a href="">Terminal 1 - CX</a></li>
        <li><a href="">Terminal 1 - D</a></li>
        <li><a href="">Terminal 3 - E Lower</a></li>
        <li><a href="">Terminal 3 - E Upper</a></li>
    </ul>
{% endblock content %}