{% extends "base.html" %}
{% load static %}

{% load tags %}

{% block title %}
    LAX
{% endblock title %}

{% block sidenav %}
    {% for item in item_list %}
        <li>
            <a href = "{{ item.link }}"> {{ item.item }} </a>
        </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
    <h1 align ="center">LAX Airport</h1>
{% if submitted %}
    <p>
        terminal: {{ terminal }},
        start: {{ start }},
        startYear: {{ startYear }},
        startMonth: {{ startMonth }},
        startDay: {{ startDay }},
        end: {{ end }},
        endYear: {{ endYear }},
        endMonth: {{ endMonth }},
        endDay: {{ endDay }},
    </p>
<!--    <h3>2015</h3>-->
<!--    <div class="container" style="width: 100%; margin-left: auto; margin-right: auto;">-->
<!--        <canvas id="2015-chart"></canvas>-->
<!--    </div>-->
<!--    <h3>2016</h3>-->
<!--    <div class="container" style="width: 100%; margin-left: auto; margin-right: auto;">-->
<!--        <canvas id="2016-chart"></canvas>-->
<!--    </div>-->
<!--    <h3>2017</h3>-->
<!--    <div class="container" style="width: 100%; margin-left: auto; margin-right: auto;">-->
<!--        <canvas id="2017-chart"></canvas>-->
<!--    </div>-->
<!--    <h3>2018</h3>-->
<!--    <div class="container" style="width: 100%; margin-left: auto; margin-right: auto;">-->
<!--        <canvas id="2018-chart"></canvas>-->
<!--    </div>-->
<!--    <h3>2019</h3>-->
<!--    <div class="container" style="width: 100%; margin-left: auto; margin-right: auto;">-->
<!--        <canvas id="2019-chart"></canvas>-->
<!--    </div>-->
<!--    <h3>Prediction</h3>-->
<!--    <div class="container" style="width: 100%; margin-left: auto; margin-right: auto;">-->
<!--        <canvas id="prediction-chart"></canvas>-->
<!--    </div>-->

{% else %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>jQuery UI Datepicker - Select a Date Range</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script>
            $(document).ready(function() {
                $(function() {
                    $("#id_start").datepicker({
                        defaultDate: "03/01/2015",
                        changeYear: true,
                        changeMonth: true,
                        minDate: new Date(2015, 1 - 1, 1),
                        maxDate: new Date(2020, 2 - 1, 29),
                    });
                });

                $(function() {
                    $("#id_end").datepicker({
                        changeYear: true,
                        changeMonth: true,
                        minDate: new Date(2015, 1 - 1, 1),
                        maxDate: new Date(2020, 2 - 1, 29),
                    });
                });

                $('#id_start').change(function() {
                    startDate = $(this).datepicker('getDate');
                    $("#id_end").datepicker("option", "minDate", startDate);
                    $("#id_end").datepicker("option", "defaultDate", startDate);
                })

                $('#id_end').change(function() {
                    endDate = $(this).datepicker('getDate');
                    $("#id_start").datepicker("option", "maxDate", endDate);
                })
            })
        </script>
    </head>
    <body>
        <p>Select a day to compare</p>
        <form action="" enctype="multipart/form-data" method="post" novalidate>
            <table>
                {{ form.as_table }}
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Submit">
                    </td>
                </tr>
            </table>
            {% csrf_token %}
        </form>
    </body>
    </html>
{% endif %}

{% endblock content %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.0.1/chartjs-plugin-zoom.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>
<script>


window.onload = function() {

};

</script>

{% endblock scripts %}