{% extends "base.html" %}
{% load static %}

{% block title %}
    LAX
{% endblock title %}

{% block sidenav %}
    {% for item in item_list %}
        <li>
            <a href = "{{ item.link }}"> {{ item.item }} </a>
        </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
    <h1 align ="center">LAX Airport</h1>
    <ul>
        <li><a href="">TBIT Main Checkpoint</a></li>
        <li><a href="">Terminal 1 - Passenger</a></li>
        <li><a href="">Terminal 2 - Passenger</a></li>
        <li><a href="">Terminal 3 - Passenger</a></li>
        <li><a href="">Terminal 3A - Passenger</a></li>
        <li><a href="">Terminal 4 - FIS</a></li>
        <li><a href="">Terminal 4 - Passenger</a></li>
        <li><a href="">Terminal 4A - Passenger</a></li>
        <li><a href="">Terminal 5 - Passenger</a></li>
        <li><a href="">Terminal 5A - Passenger</a></li>
        <li><a href="">Terminal 6 - Passenger</a></li>
        <li><a href="">Terminal 7 - Passenger</a></li>
    </ul>
{% endblock content %}