{% extends "base.html" %}
{% load static %}

{% block title %}
    PHX
{% endblock title %}

{% block sidenav %}
    {% for item in item_list %}
        <li>
            <a href = "{{ item.link }}"> {{ item.item }} </a>
        </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
    <h1 align ="center">PHX Airport</h1>
{% if submitted %}
    <p>
        <a href="las">
            LAS
        </a>
        <a href="lax">
            LAX
        </a>
        <a href="phx">
            PHX
        </a>
    </p>
    <p>
        terminal: {{ terminal }},
        start: {{ start}},
        startYear: {{ startYear }},
        startMonth: {{ startMonth }},
        startDay: {{ startDay }},
        end: {{ end }},
        endYear: {{ endYear }},
        endMonth: {{ endMonth }},
        endDay: {{ endDay }},
    </p>
{% else %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>jQuery UI Datepicker - Select a Date Range</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script>
            $(document).ready(function() {
                $(function() {
                    $("#id_start").datepicker({
                        defaultDate: "03/01/2015",
                        changeYear: true,
                        changeMonth: true,
                        minDate: new Date(2015, 1 - 1, 1),
                        maxDate: new Date(2020, 2 - 1, 29),
                    });
                });

                $(function() {
                    $("#id_end").datepicker({
                        changeYear: true,
                        changeMonth: true,
                        minDate: new Date(2015, 1 - 1, 1),
                        maxDate: new Date(2020, 2 - 1, 29),
                    });
                });

                $('#id_start').change(function() {
                    startDate = $(this).datepicker('getDate');
                    $("#id_end").datepicker("option", "minDate", startDate);
                    $("#id_end").datepicker("option", "defaultDate", startDate);

                    <!-- to set the maxDate of the to calendar as lesser of +1 M or maxDate -->
                    maxDate = $(this).datepicker("option", "maxDate");

                    nextMonthDate = $(this).datepicker('getDate');
                    nextMonthDate.setMonth(nextMonthDate.getMonth() + 1);

                    if (nextMonthDate < maxDate) {
                        $("#id_end").datepicker("option", "maxDate", nextMonthDate);
                    } else {
                        $("#id_end").datepicker("option", "maxDate", maxDate);
                    }
                })

                $('#id_end').change(function() {
                    endDate = $(this).datepicker('getDate');
                    $("#id_start").datepicker("option", "maxDate", endDate);
                })
            })
        </script>
    </head>
    <body>
        <p>
            <a href="las">
                LAS
            </a>
            <a href="lax">
                LAX
            </a>
            <a href="phx">
                PHX
            </a>
        </p>
        <p>Select a day to compare</p>
        <form action="" enctype="multipart/form-data" method="post" novalidate>
            <table>
                {{ form.as_table }}
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Submit">
                    </td>
                </tr>
            </table>
            {% csrf_token %}
        </form>
    </body>
    </html>
{% endif %}



{% endblock content %}