{% extends "base.html" %}
{% load static %}

{% block title %}
    PHX
{% endblock title %}

{% block sidenav %}
    {% for item in item_list %}
        <li>
            <a href = "{{ item.link }}"> {{ item.item }} </a>
        </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
    <h1 align ="center">PHX Airport</h1>
    <ul>
        <li><a href="">T-2</a></li>
        <li><a href="">T-3 North</a></li>
        <li><a href="">T-4 A</a></li>
        <li><a href="">T-4 B</a></li>
        <li><a href="">T-4 C</a></li>
        <li><a href="">T-4 D</a></li>
    </ul>
{% endblock content %}